dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.vite
.stencil/
.idea/
.hbuilderx/
.vscode/
.sass-cache/
.versions/
node_modules/
uni_modules/
$RECYCLE.BIN/
unpackage

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
package-lock.json
styles/tailwind.output.css